langchain
langsmith
openai
Pillow==10.0.1
pinecone_client==2.2.4
pydantic==1.10.9
PyPDF2==3.0.1
python-dotenv==1.0.0
Requests==2.31.0
shodan==1.29.1
streamlit
streamlit_extras
streamlit_feedback
tiktoken
wikipedia
faiss-cpu
duckduckgo-search
cohere