langchain==v0.0.271
langsmith
openai
pinecone_client
pydantic
PyPDF2
python-dotenv
Requests
shodan
streamlit
streamlit_extras
streamlit_feedback
tiktoken
wikipedia
faiss-cpu
duckduckgo-search
cohere
langchainhub
numexpr
langchain-experimental