langchain==0.0.313
langsmith==0.0.43
openai==0.28.1
Pillow==9.5.0
Pillow==10.0.1
pinecone_client==2.2.4
pydantic==1.10.9
PyPDF2==3.0.1
python-dotenv==1.0.0
Requests==2.31.0
shodan==1.29.1
streamlit==1.27.2
streamlit_extras==0.3.4
streamlit_feedback==0.1.2
tiktoken==0.5.1
